:root {
    --bg: #eee;
    --outline: #ccc;
    --text-primary: #191919;
    --text-secondary: #676767;


    --space: 30px;
    --space-xs: calc((.25*var(--space)));
    --space-sm: calc(.5*(var(--space)));
    --space-lg: calc(2*(var(--space)));
    --space-xl: calc(4*(var(--space)));

    --text: 16px;
    --text-sm: 14px;

    --line-sm: 100%;
    --line: 135%;
    --line-lg: 170%;
}

* {
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    font-weight: 400;
}

::selection {
    background: var(--outline)
}

@font-face {
    font-family: "Unica";
    src: url("fonts/regular.woff2");
    font-weight: 400;
    font-display: swap;
}



small, caption {
    display: block;
    line-height: var(--line-lg);
    font-size: var(--text-sm);
    padding-bottom: 10px;
}

.data small {
    padding: 0;
    line-height: var(--line);
}

body {
    width: 100%;
    background-color: var(--bg);
    color: var(--text-primary);
    font-family: "Unica", Arial, sans-serif;
    font-size: var(--text);
    letter-spacing: 0px;
    font-weight: 400;
}

h1 {

    padding-bottom: var(--space-xs);
    font-weight: 400;
    line-height: var(--line-sm);
}

h1 {
    font-size: var(--space-lg);
    letter-spacing: -2px;
}

h2 {
    font-size: 25px;
    letter-spacing: -.2px;
    line-height: var(--line);
}

.home h1 {
    padding-right: var(--space-lg);
}


.end {
    padding-bottom: var(--space-sm);
}

.two-column {
    padding: 0;
}

p {
    line-height: var(--line-lg);
}

.menu a, footer a {
    line-height: var(--line-lg);
}


.double-paragraph {
    padding-right: var(--space-lg);
}

.bottom {
    padding-bottom: var(--space);
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

nav a, footer a {
     color: var(--text-secondary);
}

p {
    margin-bottom: var(--space-sm);
}


a:hover {
    color: var(--text-primary);
}

.current {
    color: var(--text-primary);
}

img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 var(--space-lg);
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}



.menu {
    display: none;
}

nav {
    padding: var(--space-lg) 0 var(--space-xl);

}




    .links {
        display: flex;
        gap: var(--space-sm);
    }




.two-column {
    display: grid;
    gap: var(--space-lg);
    padding: var(--space) 0;
}

footer.two-column {
     padding: var(--space-xl) 0 var(--space);
}

nav .two-column {
    padding: 0;
}

footer {
    font-size: var(--text-sm);

}



.email {
    display: flex;
    gap: var(--space-xs);
    padding-right: var(--space-xs);
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-white {
    color: var(--bg);
}

nav .text-white:hover {
    color: var(--outline);
}


.underline {
    text-decoration: underline;
}

.portrait {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--space-xs);
}

.portrait img {
    width: 100%;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    padding-bottom: var(--space);
}

.contact {
    display: flex;
    justify-content: space-between;
}

.addendum {
    padding-top: var(--space-xs);
    padding-right: var(--space-lg);
}


.signature {
    width: 45px;
    height: auto;
    position: absolute;
    bottom: -37px;
    right: 7px;

}



.top {
    width: 40px;
    height: 40px;
    border-radius: 50%;;
    cursor: pointer;
    background: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: var(--space);
    right: 0;
    opacity: 0;
}

.border-light, section {
    border-bottom: solid .5px #ccc ;

}

section {
    padding-bottom: var(--space-lg);
}

section:last-of-type {
    border-bottom: 0;
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm)
}

.data {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.flagged {
    background: yellow;
}

/* mobile only */

@media (max-width: 1079px) {

        .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 0px;
        overflow: hidden;
        inset: 0 0 auto 0;
        padding: 0 var(--space);
        background: var(--text-primary);
        gap: var(--space-sm);

    }

    .menu-top {
        display: flex;
        flex-direction: column;
        gap: var(--space-sm);
        padding-bottom: var(--space-sm);
    }

    .nav-desktop.two-column {
        display: none;
    }

     .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    a:hover {
    color: var(--text-secondary);
}

    .email {
        flex-direction: column;
        gap: 0;
    }

    .email p {
        margin-bottom: 0;
    }


    .menu .contact {
        padding-bottom: var(--space-sm);
    }


    .addendum {
        padding-right: 0;
    }


    .addendum.desktop {
        display: none;
    }


    .portrait {
        order: 2;
    }

    .menu .links {
        flex-direction: column;
        flex-grow: 1;
        padding-top: var(--space);
    }
    

    .menu .links.row {
        flex-direction: row;
        flex-grow: 0;
        padding-top: 0;
    }

    .current {
        color: var(--bg);
    }

    .contact {
        font-size: var(--text-sm);
        align-items: end;
    }

    .menu p {
        margin: 0;
    }

    .container {
        padding: 0 var(--space);
    }



}


/* desktop only */

@media (min-width: 1080px) {

    .nav-mobile {
        display: none;
    }

    .addendum.mobile {
        display: none;
    }


    .two-column {
        grid-template-columns: 1fr 1fr;
    }

    .home .intro {
    padding-right: 50px;
}

.bottom {
    margin-bottom: var(--space-lg);
}

.end {
    margin-top: var(--space);
}

}