:root {
    --bg: #eee;
    --text-primary: #191919;
    --text-secondary: #676767;


    --space: 30px;
    --space-xs: calc((.25*var(--space)));
    --space-sm: calc(.5*(var(--space)));
    --space-lg: calc(2*(var(--space)));
    --space-xl: calc(4*(var(--space)));

    --text: 16px;
    --text-sm: 14px;

    --line: 130%;
    --line-lg: 170%;
}
* {
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
}

::selection {
    background: #e0e0e0;
}
@font-face {
    font-family: "Unica";
    src: url("fonts/regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Unica";
    src: url("fonts/medium.woff2");
    font-weight: 500;
}


body {
    width: 100%;
    background-color: var(--bg);
    color: var(--text-primary);
    font-family: "Unica", sans-serif;
    font-size: var(--text);
    letter-spacing: 0px;
    font-weight: 400;
}

h1, h2, h3 {

    padding-bottom: var(--space-xs);
    font-weight: 400;
    line-height: var(--line);
}

.no-margin {
    margin: 0;
}

h1 {
    font-size: var(--space-lg);
    letter-spacing: -2px;
}

.home h1 {
    padding-right: var(--space-lg);
}

.home footer.two-column {
    font-size: var(--text);
    padding: var(--space) 0;
}

h2 {
    font-size: var(--space);
    letter-spacing: -0.5px;
    padding-bottom: var(--space-xs);
    margin-bottom: var(--space);
}

.h2 {
    font-size: var(--space);
    letter-spacing: -0.5px;
}

.intro {
    padding-top: 0;
}

.bottom {
    margin-bottom: var(--space-lg);
}

.case-study .two-column {
    align-items: baseline;
}

.two-column {
    padding: 0;
}

.case-study img {
    margin: var(--text-sm) 0;
}


.info {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.data {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    padding-bottom: var(--space-xs);
}

.data p {
    margin: 0;
}

.border {
    border-bottom: solid 1px var(--text-primary) ;

}

.border-light, section {
    border-bottom: solid .5px #ddd ;

}

.border-gradient {
    border-image: linear-gradient(90deg, var(--text-secondary), var(--bg) ) 1;
    border-style: solid;
    border-width: 0 0 .5px 0;
}

.no-border {
    border: 0;
}

a, p {
    line-height: var(--line-lg);
}

section p {
    padding-right: var(--space-lg);
}


.short {
    padding-right: var(--space-xl);
}

.two-column p {
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--text-primary);
}

nav a, footer a {
     color: var(--text-secondary);
}

p {
    margin-bottom: var(--space-sm);
}


a:hover {
    color: var(--text-primary);
}

.current {
    color: var(--text-primary);
}

img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 var(--space-lg);
}

.home {
    height: 100%;
}



.menu {
    display: none;
}

nav {
    padding: var(--space-lg) 0 var(--space-xl);

}




.nav-mobile {
    display: none;
}

    .links {
        display: flex;
        gap: var(--space-sm);
    }




.two-column {
    display: grid;
    gap: var(--space-lg);
    padding: var(--space) 0;
}

.no-padding {
    padding: 0;
}

footer.two-column {
     padding: var(--space-xl) 0 var(--space);
}

nav .two-column {
    padding: 0;
}

footer {
    display: flex;
    justify-content: space-between;
    font-size: var(--text-sm);

}




footer .links {
    display: flex;
    justify-content: space-between;
}

.email {
    display: flex;
    gap: var(--space-xs);
    padding-right: var(--space-xs);
}



.notice {
    font-size: 13px;
    padding: var(--space-xl) 0 var(--space);
    
}

.top {
    width: 40px;
    height: 40px;
    border-radius: 50%;;
    cursor: pointer;
    background: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: var(--space);
    opacity: 0;
}

.text-primary {
    color: var(--text-primary);
}

.text-secondary {
    color: var(--text-secondary);
}

.text-white {
    color: var(--bg);
}

.bold {
    font-weight: 500;
}




.underline {
    text-decoration: underline;
}



ul {
    list-style-type: none;

}

li {
    line-height: var(--line-lg);
    color: var(--text-secondary);
}

li:first-child {
    color: var(--text-primary);
}

.portrait {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: var(--space-xs);
}

.portrait img {
    width: 100%;
}

small {
    font-size: var(--text-sm);

    ;
}

section {
    padding: var(--space) 0;
}

/* mobile only */

@media (max-width: 1100px) {


    .top {
        right: 10px;
    }

    .nav-desktop two-column {
        display: none;
    }

    .nav-mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        height: 0px;
        overflow: hidden;
        inset: 0 0 auto 0;
        padding: 0 var(--space);
        background: var(--text-primary);
        gap: var(--space-sm);

    }

    .links {
        flex-direction: column;
    }

    .menu .links {
        padding-top: var(--space-xl);
    }

    .menu-link {
        color: var(--bg);
    }


    .contact {
        display: flex;;
        flex-direction: column;
        padding-top: var(--space);
        font-size: 13px;
    }

    .menu p {
        margin: 0;
    }

    .container {
        padding: var(--space-lg) var(--space) var(--space) var(--space);
    }



    .two-column {
        grid-template-rows: 1fr 1fr;
    }

    footer {
        gap: var(--space-lg);
    }


    .notice {
        padding-bottom: var(--space);
    }

    .notice p {
        margin: 0;
    }

}

/* desktop only */

@media (min-width: 1100px) {

    .top {
    right: 0;

    }



    .two-column {
        grid-template-columns: 1fr 1fr;
    }

    .right {
    justify-content: end;
}

    .notice p {
        display: inline;
    }

}